@model HomeshareASP.Models.MembreModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="col-md-8 col-md-offset-3">
                <br />
                <h4>Edit Your Profile Photo!</h4>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="file" name="FilePhoto" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Save" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </form>
</div>