<div class="alert alert-success">"Congratulation, your account has been successfully created."</div>
Please Log In to join with us: 
<button class="btn btn-info"><a href="/Account/Login">
    Login </a></button>
    



