@model HomeshareASP.Models.HomesharingViewModel
<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="index.php">Home</a> / Homesharings</span>
        <h2>Homesharings</h2>
    </div>
</div>
<!-- banner -->


<div class="container">
    <div class="properties-listing spacer">

        <div class="row">
            <div class="col-lg-3 col-sm-4 ">

                <div class="search-form">
                    <h4><span class="glyphicon glyphicon-search"></span> Search for Title</h4>
                    <form action="/Home/Homesharing" method="get" class="search-trans-form">
                        <input class="form-control" id="SearchString" name="SearchString" type="text" placeholder="Search Title..." required="">
                    <button class="btn btn-primary" type="submit">Find Now</button>
                    </form>
                </div>

            </div>

            <div class="col-lg-9 col-sm-8">

                <!--/pagination-->
                @{
                    Html.RenderPartial("~/Views/Shared/_pagination.cshtml", new ViewDataDictionary { { "MaxPage", Model.MaxPage } });
                }
                <!--//pagination-->

                <div class="row">
                    @foreach (HomeshareASP.Models.BienModel item in Model.AllBienList)
                    {
                    <div class="col-lg-4 col-sm-6">
                        @{
                            Html.RenderPartial("~/Views/Shared/_BienCard.cshtml", item);
                        }
                    </div>
                    }


                    @*<div class="center">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>*@

                </div>
            </div>
        </div>
    </div>
</div>